{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true
  },
  "extends": ["standard", "prettier/standard"],
  "parserOptions": {
    "ecmaVersion": 11
  },
  "rules": {
    "semi": ["error", "always"],
    "comma-dangle": ["error", "only-multiline"]
  }
}
