<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header") %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="column">
          <h1>Node + Express</h1>
          <p>
            Simple Node + Express boilerplate for starting a new project<br />
            <a
              href="https://github.com/wolfgangdie/node-express-boilerplate.git"
              >GitHub
            </a>
            -
            <a
              href="https://github.com/wolfgangdie/node-express-boilerplate#readme"
              >Readme
            </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
